PORT=3000
NODE_ENV=production
DATABASE_URL=postgresql://postgres.ffpcnnxoyklepylgywnt:Forgetpassword2024.@aws-1-eu-west-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://ffpcnnxoyklepylgywnt.supabase.co
SUPABASE_ANON_KEY=sb_publishable_86lbbyxWOSKZhbxnP9r1cw_wuAUYEq7
PAYSTACK_SECRET_KEY=sk_live_xxxx
PAYSTACK_PUBLIC_KEY=pk_live_xxxx
IP_SALT=your_secret_ip_salt
